body {
    font-family: "TelefonicaSans","Helvetica Neue",Verdana,Arial,sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
}

.contenedor {
    display: flex;
}

.contenedor p {
    margin: 0.5em 0 0 0.5em;
    font: normal normal medium 24px/32px Roboto;
}

.chat-toggle-button {
    position: fixed;
    bottom: 40px;
    right: 45px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.chat-toggle-button:focus {
    outline: none;
}

#chat-toggle-icon,
#chat-cross-icon {
    width: 100%;
    height: auto;
}

#chat-toggle-icon {
    display: block;
}

#chat-toggle2 {
    display: none;
}

#chat-toggle2 img {
    width: 100%;
    height: auto;
}

#chat-toggle2.show-cross {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    position: fixed;
    bottom: 180px;
    right: 70px;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 3px 16px #16161629;
    display: none;
    margin-top: 20px;
    width: 438px;
    height: 450px;
    border-radius: 10px;
}

.chat-header {
    padding: 15px;
    background-color: #019df4;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.chat-messages::-webkit-scrollbar {
    display: none;
  }

.message {
    margin-bottom: 10px;
    word-wrap: break-word;
    position: relative;
}

.message-time {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 12px;
    color: #999;
}

.user-message {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 80%;
}

.user-message .message-time {
    font-size: 12px;
    color: #aaa;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.message.user-message {
    margin-left: auto;
    background-color: #019df4;
    display: inline-block;
    padding: 15px;
    margin-top: 1em;
    min-width: 28px;
    text-align: center;
}

.bot-message {
    background-color: #f1f1f1;
    color: #333;
    padding: 15px;
    border-radius: 10px;
    margin: 25px 0 25px 0;
    align-self: flex-start;
    position: relative;
    display: inline-block;
    max-width: 80%;
    white-space: pre-wrap;
}

.user-message .message-time {
    font-size: 12px;
    color: grey;
    position: absolute;
    bottom: -20px;
    right: 5px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:disabled {
    opacity: 0.5;
}

#send-button {
    background-image: url('../img/send button.svg');
    background-repeat: no-repeat;
    padding: 20px;
}

#chat-toggle2 {
    position: fixed;
    border: 1px solid #019df4;
    right: 70px;
    bottom: 80px;
    border-radius: 50%;
    padding: 15px;
}

.contenedor p {
    margin-left: 1.5em;
}

.page-container-home{
    background-image: url("../img/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 4269px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .page-container-home {
        background-image: url("../img/background-mobile.png"); 
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center top;
    }
}

/* ... Estilos anteriores ... */

@media screen and (max-width: 767px) {
    .bot-message {
        font-size: 14px;
    }

    .user-message {
        font-size: 14px;
    }
    
    .chat-toggle-button {
        bottom: 20px;
        right: 20px;
        padding: 8px 16px;
    }

    #chat-toggle2 {
        right: 20px;
        bottom: 60px;
    }
    .chat-container {
        bottom: 150px; 
        right: 20px;
        max-width: 300px;
        width: 90%;
        height: 400px;
    }

    .chat-messages {
        height: 200px;
    }

    .chat-input {
        padding: 10px;
    }

    input[type="text"] {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        margin-left: 8px;
    }

    #send-button {
        padding: 18px;
    }
}
